body {
    margin: 0%;
    padding: 0%;
    background-color: black;
    margin: auto;
    height: 100%;
    min-height: 100%;
    display: inline-flex;
    overflow: hidden;
}

.specialFont {
    font-family: 'Press Start 2P', cursive;
}

.farmDiv {
    float:left;
    overflow: hidden;
    height: 100vh;
    width: 60vw;
}

.dashDiv {
    float:left;
    width: 40vw;
    height: 100vh;
    overflow-y: auto;
}

.underline {
    text-decoration: underline;
}

.forCanvas {
    margin: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}


.forDashboardBtn {
    font-size: 1.3vw;
    background-color: #343a40;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: White;
    border: 2px solid White;
}

.forDashboardBtn:hover {
    font-size: 1.3vw;
    background-color: #fff;
    color: black;
}

@media only screen and (max-width: 900px) {


}


@media only screen and (max-width: 576px) {


}

@media only screen and (max-width: 572px) {

}

@media only screen and (max-width: 500px) {


}

@media only screen and (max-width: 350px) {


}

